<!-- resources/views/emails/reset_password.edge -->

<p>Hi {{ user.name }},</p>

<p>You recently requested to reset your password for your account. Click the link below to reset it.</p>

<p>
  <a href="{{ resetUrl }}" target="_blank" rel="noopener noreferrer">Reset Your Password</a>
</p>

<p>If you didn’t request a password reset, you can safely ignore this email.</p>

<p>Thanks,<br>Your App Team</p>